ion-content {
  --ion-background-color: #0a0a2a;
}

ion-header {
  --ion-background-color: #0a0a2a;
}

ion-title {
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
  font-size: 18px;
}
