<ion-header>
  <ion-toolbar>
      <ion-icon style="color: white; font-size: 25px" name="arrow-round-back" slot="start" (click)="voltarParaListaDeClientes()">
        </ion-icon>
    <ion-title>Atualizar Info. do Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  <ion-grid>

    <ion-header align-items-center>
      <ion-title>Atualize Info. do Cliente</ion-title>
    </ion-header>

    <ion-row>
      <ion-col>
        <h3> <i class="fas fa-circle"></i> Informe o Nome Completo do Cliente:</h3>
        <ion-input type="text" [(ngModel)]="novoCliente.nomeCliente" placeholder="Digite o NOME COMPLETO do Cliente">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3> <i class="fas fa-circle"></i> Informe o Número da Identidade do Cliente:</h3>
        <ion-input [(ngModel)]="novoCliente.identidade" placeholder="Digite o NÚMERO DA IDENTIDADE do Cliente"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3> <i class="fas fa-circle"></i> Informe o Número do CPF do Cliente:</h3>
        <ion-input [(ngModel)]="novoCliente.cpf" placeholder="Digite o NÚMERO DO CPF do Cliente"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3> <i class="fas fa-circle"></i> Informe o nome da Cidade do Cliente:</h3>
        <ion-input type="text" [(ngModel)]="novoCliente.cidade" placeholder="Digite o Nome da Cidade do Cliente"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <h3> <i class="fas fa-circle"></i> Informe o Endereço do Cliente:</h3>
        <ion-input [(ngModel)]="novoCliente.endereco" placeholder="Digite o ENDEREÇO do Cliente"></ion-input>
      </ion-col>
    </ion-row>

  </ion-grid>

    <ion-grid>
        <ion-header align-items-center>
            <ion-title>Atualize Datas</ion-title>
          </ion-header>

      <ion-col style="height: 70px;">
        <ion-row>
          <ion-col style="height: 60px;">
            <h3> <i class="fas fa-calendar-check"></i> Informe a Data de Nascimento do Cliente: <ion-datetime
                display-format="DD/MM/YYYY" [(ngModel)]="date1"></ion-datetime>
            </h3>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-row>
          <ion-col style="height: 60px;">
            <h3> <i class="fas fa-calendar-check"></i> Informe a Data de Cadastro do Cliente: <ion-datetime
                display-format="DD/MM/YYYY" [(ngModel)]="date2"></ion-datetime>
            </h3>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-grid>

  <div class="botoes">
    <ion-button color="light" (click)="edicaoDeCliente()">Atualizar Cliente</ion-button>
  </div>

</ion-content>
