ion-content{
    --ion-background-color: white;
}

ion-header{
    --ion-background-color: rgb(247, 62, 16);
}

ion-title{
    text-align: center;
    color: white;
    font-family: 'Sofia', cursive;
}