<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon style="color: white" name="apps"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cadastros">
      <ion-icon style="color: white" name="create"></ion-icon>
      <ion-label>Cadastros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="listas">
      <ion-icon style="color: white" name="list"></ion-icon>
      <ion-label>Listas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configuracoes">
      <ion-icon style="color: white" name="settings"></ion-icon>
      <ion-label>Configurações</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>