<ion-header>
  <ion-toolbar>
    <ion-icon style="color: white; font-size: 25px" name="arrow-round-back" slot="start" (click)="backToPageDaCategoria()">
    </ion-icon>
    <ion-title>Adicione uma Nova Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


  <ion-grid>
    <ion-row>
      <ion-col>
        <h3> <i class="fas fa-circle"></i> Informe o tipo da Categoria:</h3>
        <ion-input [(ngModel)]="novaCategoria.nomeCategoria" placeholder="Digite a Categoria a ser Inserida">
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3> <i class="fas fa-circle"></i> Informe a Descrição da Categoria:</h3>
        <ion-input [(ngModel)]="novaCategoria.descricaoCategoria"
          placeholder="Digite a Descrição da Categoria a ser Inserida"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="botoes">
    <ion-button color="light" (click)="insert()">Inserir</ion-button>
  </div>

</ion-content>