ion-content {
  --ion-background-color: white;
}

ion-header {
  --ion-background-color: rgb(247, 62, 16);
}

ion-title {
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
  font-size: 18px;
}

i {
  margin-right: 4px;
}
