<ion-header>
  <ion-toolbar>
    <ion-icon style="color:white; font-size: 25px" name="arrow-round-back" slot="start"
      (click)="voltarParaListaDeProdutos()">
    </ion-icon>
    <ion-title>Atualizar Info. do Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3> <i class="fas fa-circle"></i> Informe o novo nome do Produto:</h3>
        <ion-input [(ngModel)]="novoProduto.nomeProduto" placeholder="Digite o novo Nome do Produto" type="text">
        </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3> <i class="fas fa-circle"></i> Informe o novo preço do Produto:</h3>
        <ion-input [(ngModel)]="novoProduto.precoProduto" placeholder="Digite o novo Preço do Produto em R$"
          type="number"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>
      <ion-label>Selecione a Categoria</ion-label>
      <ion-select [(ngModel)]="novoProduto.uidCP">
        <ion-select-option *ngFor="let categoriaProduto of listaDeCategoria" [value]="categoriaProduto.uid">
          {{ categoriaProduto.nomeCategoria }} / {{categoriaProduto.descricaoCategoria}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="botoes">
    <ion-button color="light" (click)="edicaoDeProduto()">Atualizar Produto</ion-button>
  </div>



 

</ion-content>