ion-content {
  --ion-background-color: white;
}

ion-title,
ion-card-subtitle {
  padding: 5px;
  font-family: "Lobster", cursive;
  color: white;
  text-align: center;
  font-size: 18px;
}

ion-header {
  --ion-background-color: rgb(247, 62, 16);
}
